.top-menu-container {
    padding: 0;
    position: relative;
    text-align: center;
}
.top-menu-container li {
    display: inline-block;
    padding: 40px 20px 20px 20px ;
}
.top-menu-container li a:before{
    content: "";
	background: #fff;
	height: 1px;
	width: 100%;
	position: relative;
}
.top-menu-container li a{
    color: #fff;
	font-size: 18px;
	position: relative;
}
.top-menu-container li ul {
	display: none;
}
.menu-container {
	position: relative;
}
