/* sparga framework */
@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

::-moz-selection { 
    color: #fff;
    background: #1E275A;
}

::selection {
    color: #fff;
    background: #1E275A;
}

input:focus, textarea:focus {
	background-color: #f5f5f5;
}

a {
    /* color: #F89422; */
	transition: all 0.25s ease-in-out 0s;
}

a:focus {
    outline: none;
}

a:link, a:visited {
	text-decoration: none;
} 

/* h1, h2, h3, h4, h5, h6, p { */
	/* margin: 0; */
/* } */

body {
	/* background-color: #e8e8e8; */
    /* font-family: "Montserrat",sans-serif; */
    /* font-size: 62.5%; */
	margin: 0;
	padding: 0;
    /* overflow-x: hidden; */
	/* color: #ccc; */
}

html, body {
    /* overflow-x: hidden!important; */
}

h1+p {
	margin-top: 0;
}

.header {
    background: #000 none repeat scroll 0 0;
}

ul {
	list-style-image: url("../images/list-icons/list-icon.png");
	/* list-style-type: none; */
	padding-left: 20px;
	margin-left: 0;
}

.wraper {
	/* font-size: 1.6em; */
	/* padding: 2em; */
	/* margin: 0 auto; */
}

* {
	/* margin: 0; */
	/* padding: 0; */
	/* -webkit-box-sizing: border-box; */
	/* -moz-box-sizing: border-box; */
	/* box-sizing: border-box; */
}

.container {
    /* width: 1600px; */
	/* max-width: 100%; */
}

/* end of sparga framework */








/* responsive */
@media only screen and (max-width: 1680px) {
    
}

@media only screen and (max-width: 1600px) {
    
}

@media only screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1152px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (max-width: 360px) {
    
}

@media only screen and (max-width: 320px) {
    
}
/* end of responsive */