/* sparga framework */

::-moz-selection { 
    color: #fff;
    background: #3F2F44;
}
::selection {
    color: #fff;
    background: #3F2F44;
}
input:focus, textarea:focus {
	/* background-color: #3F2F44; */
}
a {
    /* color: #F89422; */
	transition: all 0.25s ease-in-out 0s;
}
a:focus {
    outline: none;
}
a:link, a:visited {
	text-decoration: none;
} 
/* h1, h2, h3, h4, h5, h6, p { */
	/* margin: 0; */
/* } */
body {
	background: rgba(0, 0, 0, 0) url("../images/body-bg.jpg") repeat scroll 0 0;
    font-family: 'Playfair Display', serif;
    /* font-size: 62.5%; */
	font-size: 18px;
	margin: 0;
	padding: 0;
    /* overflow-x: hidden; */
	color: #282828;
}
html, body {
    /* overflow-x: hidden!important; */
}

h1+p {
	margin-top: 0;
}
.header {
    background: #000 none repeat scroll 0 0;
}
ul {
	/* list-style-image: url("../images/list-icons/list-icon.png"); */
	list-style-type: none;
	padding-left: 20px;
	margin-left: 0;
}
.wraper {
	/* font-size: 1.6em; */
	/* padding: 2em; */
	/* margin: 0 auto; */
}
* {
	/* margin: 0; */
	/* padding: 0; */
	/* -webkit-box-sizing: border-box; */
	/* -moz-box-sizing: border-box; */
	/* box-sizing: border-box; */
}
.container {
    width: 1280px;
	max-width: 100%;
}
/* end of sparga framework */

.prague-city-tours-content {
	display: flex;
    flex-direction: column;
    text-align: center;
}
.prague-city-tours-content .main-title {
	color: #282828;
    font-size: 55px;
	position: relative;
	margin-bottom: 80px;
}
.prague-city-tours-content .main-title::after {
    background: rgba(0, 0, 0, 0) url("../images/black-flag.png") repeat scroll 0 0;
    content: "";
    height: 13px;
    left: 50%;
    position: absolute;
    top: 90px;
    width: 50px;
	transform: translateX(-50%);
}
.prague-city-tours-content .items li a {
    line-height: 50px;
	color: #010101;
    font-size: 18px;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out 0s;
	border-bottom: 0px solid #5b096c;
}
.prague-city-tours-content .items a:hover {
    border-bottom: 1px solid #5b096c;
    color: #5b096c;
}
.prague-city-tours-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.prague-city-tours-container {
    display: flex;
    padding: 50px 0;
}
.out-of-prague-tours {
    background: rgba(0, 0, 0, 0) url("../images/out-of-prague-tours-bg.jpg") no-repeat scroll center center / cover ;
    height: 630px;
}
.out-of-prague-tours {
    position: relative;
}
.out-of-prague-tours-container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.out-of-prague-tours-content .main-title {
	color: #fff;
    font-size: 55px;	
	margin-bottom: 10px;
}
.out-of-prague-tours-content .subtitle {
    color: #fff;
    font-size: 21px;
    font-style: italic;
    text-align: center;
	margin-bottom: 80px;
	position: relative;
}
.out-of-prague-tours-content .subtitle::after {
    background: rgba(0, 0, 0, 0) url("../images/white-flag.png") repeat scroll 0 0;
    content: "";
    height: 13px;
    left: 50%;
    position: absolute;
    top: 40px;
    width: 50px;
	transform: translateX(-50%);
}
.out-of-prague-tours-content .items {
    text-align: center;
}
.out-of-prague-tours-content .items li a {
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
	transition: all 0.25s ease-in-out 0s;
    font-style: italic;
	border-bottom: 0px solid #5b096c;
}
.out-of-prague-tours-content .items li a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.fun-tours-content .fun-tours-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.fun-tours .fun-tours-content {
    display: flex;
}
.fun-tours-content .main-title {
    color: #282828;
    font-size: 55px;
}
.fun-tours-content .subtitle {
    color: #282828;
    font-size: 21px;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}
.fun-tours-content .items a {
    color: #282828;
    font-size: 21px;
    font-style: italic;	
	line-height: 48px;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	border-bottom: 0px solid #5b096c;
}   
.fun-tours-content .items li a:hover {
    border-bottom: 1px solid #492551;
    color: #492551;
}
.fun-tours-content .subtitle::after {
    background: rgba(0, 0, 0, 0) url("../images/black-flag.png") repeat scroll 0 0;
    content: "";
    height: 13px;
    left: 50%;
    position: absolute;
    top: 40px;
    width: 50px;
	transform: translateX(-50%);
}
section.fun-tours {
    /* padding-top: 80px; */
}
.fun-tours-balloon, .fun-tours-beer {
    padding-top: 80px;
}
.index-blog-item .img-item {
    position: relative;
	overflow: hidden;
}
.index-blog-item .date-container {
    background: rgba(0, 0, 0, 0.33) none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    height: 65px;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 65px;
	transition: all 0.25s ease-in-out 0s;
	z-index: 1;
}
.date-container p {
	display: block;
	font-weight: bold;
    font-style: italic;
	line-height: 1.2;
}
.index-main-slider .swiper-container .swiper-slide img {
    height: 90vh;
}
/* slider */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/slider-left-arrow.png");
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/slider-right-arrow.png");
    left: auto;
    right: 10px;
}
.swiper-button-prev, .swiper-button-next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 75px;    
    width: 75px;
	bottom: 50px;
    top: auto;
	transition: all 0.25s ease-in-out 0s;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
	background-color: rgba(255, 255, 255, 0.18);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 72%;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/slider-right-arrow.png");
    left: auto;
    right: 19.5%;
}
.index-book-slider .swiper-slide {
	background: transparent none repeat scroll 0 0!important;
}
/* end of slider */

section.books-about-prague {
    background: #492551 none repeat scroll 0 0;
}
.index-blog-content .main-title {
	color: #282828;
    font-size: 55px;
	position: relative;
	margin-bottom: 80px;
	text-align: center;
}
.index-blog-content .main-title::after {
    background: rgba(0, 0, 0, 0) url("../images/black-flag.png") repeat scroll 0 0;
    content: "";
    height: 13px;
    left: 50%;
    position: absolute;
    top: 90px;
    width: 50px;
	transform: translateX(-50%);
}
section.index-blog {
    padding: 150px 0 100px;
}
.date-container .day {
    font-size: 30px;
	margin-top: -3px;
}
.date-container .month {
    font-size: 16px;
}
.index-blog-item .title {
    color: #282828;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
	font-size: 25px;
	transition: all 0.25s ease-in-out 0s;
}
.index-blog-item .txt {
	color: #282828;
    margin-top: 24px;
	font-size: 16px;
	transition: all 0.25s ease-in-out 0s;
}
.index-blog-item .mask {
    background: #000 none repeat scroll 0 0;
    height: 500px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
	transition: all 0.25s ease-in-out 0s;
}
.index-blog-item:hover .mask {
	opacity: 0.4;
}
.index-blog-item .img-item img {
	width: 100%;
}
.index-blog-item:hover .title, .index-blog-item:hover .txt {
	color: #492551;
}
.index-blog-item:hover .img-item .date-container {
	background: #fff none repeat scroll 0 0!important;
    color: #252525;
}
.footer-container {
    height: 100%;
    position: relative;
}
.footer .bottom {
    bottom: 25px;
    left: 0;
    position: absolute;
    width: 100%;
	z-index: 2;
}
footer.footer {
    position: relative;
}
.footer-bottom-bg {
    background: rgba(0, 0, 0, 0) url("../images/footer-bottom-bg.png") repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 73px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
	mix-blend-mode: overlay;
}
.footer .bottom .span {
    color: #282828;
    font-size: 18px;
}
.footer .top h3 {
    font-size: 24px;
    margin-top: 65px;
}
.top .form-label {
    font-size: 16px;
    margin-top: 10px;
}
.footer .phone a {
	font-size: 24px;
	color: #282828;
}
.scalateam-logo {
	transition: all 0.1s ease-in-out 0s;
}
.scalateam-logo:hover {
    opacity: 0.6;
}
.footer-social-icons img {
	transition: all 0.1s ease-in-out 0s;
}
.footer-social-icons:hover img:hover {
    opacity: 0.6;
}
.phone a {
	transition: all 0.1s ease-in-out 0s;
}
.phone a:hover {
	opacity: 0.6;
}
.footer-newsletter {
    border-radius: 72px;
    margin-top: 10px;
}
.top ul.menu {
    color: #252525;
    font-size: 24px;
    line-height: 53px;
    margin-top: 40px;
    text-align: right;
}
.top ul.menu a {
    color: #232323;
    font-size: 24px;
	transition: all 0.1s ease-in-out 0s;
}
.top ul.menu a:hover {
    opacity: 0.6;
}
.menu-top {
    background: transparent;
    height: 120px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}
.top-menu-container {
    padding: 0;
    position: relative;
    text-align: center;
}
.top-menu-container li {
    display: inline-block;
    padding: 40px 20px 20px 20px ;
}
.top-menu-container li a{
    color: #fff;
	font-size: 18px;
}
.footer input.email {
    border: 1px solid #c1ba98;
    border-radius: 20px;
    color: #282828;
    padding: 10px 20px;
	font-size: 16px;
	width: 290px;
}
.footer-newsletter {
	position: relative;
}
.footer input.submit {
    background-color: #492551;
    border: 1px solid #492551;
    border-radius: 20px;
    color: #fff;
    left: 260px;
    padding: 10px 25px;
    position: absolute;
    top: 0;
	font-size: 16px;
	
}
.footer .top .social {    
    margin-top: 50px;
}
.footer .top .contact {
    margin-top: 23px;
}
.footer-social-icons {
    margin-top: 15px;
}
.footer-social-icons > a {
	margin-right: 20px;
}










/* responsive */
@media only screen and (max-width: 1680px) {
    
}

@media only screen and (max-width: 1600px) {
    
}

@media only screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1152px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (max-width: 360px) {
    
}

@media only screen and (max-width: 320px) {
    
}
/* end of responsive */